<div id="carouselExampleFade" class="carousel slide carousel-fade">
  <div class="carousel-inner">

    <div class="carousel-item active">
      <img src="images/skeletonCarousel/imgCar.png" class="d-block w-100" alt="banner 1">
    </div>

    <div class="carousel-item">
      <img src="images/skeletonCarousel/imgCarB.png" class="d-block w-100" alt="banner 2">
    </div>

  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>

</div>

<section class="sobre-nosotros">

  <h2 class="titulo">
    Agenda tu cita en línea de forma fácil y rápida
  </h2>

  <div class="contenido">

    <!-- Imagen -->
    <div class="imagen-wrapper">
      <img src="../images/aboutUs/hospital.jpg" alt="Red Hospitalaria" />
    </div>

    <!-- Texto -->
    <div class="texto">

      <p>
        EN <span class="link">RED HOSPITALARIA</span> NOS PREOCUPAMOS POR TU BIENESTAR Y TU TIEMPO.
        POR ESO TE OFRECEMOS UNA FORMA
        <span class="link">FÁCIL, RÁPIDA Y SEGURA</span> DE AGENDAR TUS CITAS MÉDICAS EN LÍNEA.
        ACCEDE A NUESTROS SERVICIOS DESDE CUALQUIER LUGAR Y EN CUALQUIER MOMENTO,
        SIN FILAS NI LARGAS ESPERAS.

        <span class="link">NUESTRA PLATAFORMA TE PERMITE PROGRAMAR TUS CITAS</span>
        DE MANERA ÁGIL Y CÓMODA.

        PODRÁS ENCONTRAR DISPONIBILIDAD DE ESPECIALISTAS,
        SELECCIONAR HORARIOS Y GESTIONAR TU ATENCIÓN MÉDICA
        DE FORMA ORGANIZADA Y EFICIENTE.

        EN RED HOSPITALARIA TRABAJAMOS PARA BRINDARTE UNA EXPERIENCIA
        MODERNA, CONFIABLE Y CENTRADA EN TU SALUD.

        <br>

        TU BIENESTAR ES NUESTRA PRIORIDAD.
      </p>

    </div>
  </div>

</section>

<!-- LOGIN -->
<section id="login" class="login-section">

  <div class="container-fluid login-page">

    <div class="row justify-content-center">

      <div class="col-12 text-center">
        <h1 class="main-title">
          Agenda tu cita aqui
        </h1>
      </div>

    </div>

    <div class="row justify-content-center">

      <div class="col-auto">

        <div class="outer-card">

          <div class="card login-card shadow-sm border-0">

            <div class="card-body p-5">

              <!-- LOGO -->
              <div class="text-center mb-4">

                <div class="logo-circle mx-auto mb-3">
                  <i class="bi bi-hospital text-white"></i>
                </div>

                <h2 class="brand-title">
                  RedHospital
                </h2>

                <p class="subtitle">
                  Sistema de Gestión Hospitalaria
                </p>

              </div>

              <hr>

              <!-- TITULO -->
              <h3 class="text-center login-title mb-4">
                Iniciar Sesión
              </h3>

              <!-- FORM -->
              <form>

                <!-- EMAIL -->
                <div class="mb-4">

                  <label class="form-label">
                    Correo Electrónico
                  </label>

                  <div class="input-group custom-input">

                    <span class="input-group-text bg-white border-end-0">
                      <i class="bi bi-envelope"></i>
                    </span>

                      <input
                        type="email"
                        class="form-control border-start-0"
                        placeholder="admin@redhospital.com"

                        [(ngModel)]="correo"
                        name="email"
                        required
                      />
                  </div>
                </div>

                <!-- PASSWORD -->
                <div class="mb-4">

                  <label class="form-label">
                    Contraseña
                  </label>

                  <div class="input-group custom-input">

                    <span class="input-group-text bg-white border-end-0">
                      <i class="bi bi-lock"></i>
                    </span>

                    <input
                      type="password"
                      class="form-control border-start-0 border-end-0"
                      placeholder="••••••••••"

                      [(ngModel)]="contrasena"
                      name="password"
                    />

                  </div>

                </div>
                <!-- BOTON -->
                <button
                  type="button"
                  class="btn login-btn w-100"
                  (click)="iniciarSesion()">

                  Iniciar Sesión

                </button>

               <!-- MENSAJE ERROR -->
                <div
                  *ngIf="mensajeError"
                  class="alert alert-danger mt-3 text-center">

                  {{ mensajeError }}

                </div>

                <!-- REGISTRO -->
                <div class="text-center mt-4">

                  <button
                    type="button"
                    class="register-link"
                    (click)="irARegistro()">

                    Registrate

                  </button>

                </div>

              </form>

            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</section>