<div class="notificaciones-container">

  <div class="notif-toolbar">
    <input type="text" class="buscador" />
  </div>

  <div class="notif-lista">
    @for (noti of notificaciones; track $index) {
    <div class="notif-card">
      <div class="notif-body">
        <label type="text" class="form-label">CITA:</label>
        <input type="text" class="buscador" [(ngModel)]="noti.codigoCita" [readonly]="true">
      </div>
      <div class="notif-body">
        <label type="text" class="form-label">CORREO:</label>
        <input type="text" class="buscador" [(ngModel)]="noti.correoDestino" [readonly]="true">
      </div>
      <div class="notif-body">
        <label type="text" class="form-label">MENSAJE:</label>
        <input type="text" class="buscador" [(ngModel)]="noti.descripcion" [readonly]="true">
      </div>
      <div class="notif-body">
        <label type="text" class="form-label">ESTADO:</label>
        <div class="div-btn">
          <input type="text" [ngClass]="{'aprobada' : noti.estadoCita === 'APROBADA', 'denegada' : noti.estadoCita === 'DENEGADA'}" [(ngModel)]="noti.estadoCita" [readonly]="true">
          <button (click)="marcarLeido($index)" class="btn-ver">LEIDO</button>
        </div>
      </div>
    </div>
    }
  </div>

</div>