<div class="solicitar-citas-container">

  <div class="card-cita">
    <div class="form-grid">

      <div class="form-group">
        <label class="form-label">Tipo cita</label>
        <select class="custom-select">
          <option>Consulta de medicina general</option>
          <option>Especialista</option>
          <option>Urgencias</option>
        </select>
      </div>

      <div class="form-group">
        <label class="form-label">Centro Médico</label>
        <select class="custom-select">
          <option>Clínica</option>
          <option>Hospital</option>
          <option>Centro de salud</option>
        </select>
      </div>

      <div class="form-group">
        <label class="form-label">Ciudad</label>
        <select class="custom-select">
          <option>Manizales</option>
          <option>Bogotá</option>
          <option>Medellín</option>
          <option>Cali</option>
        </select>
      </div>

      <div class="form-group">
        <label class="form-label">Fecha</label>
        <input type="date" class="custom-input" />
      </div>

    </div>

    <button class="btn-solicitar">
      Solicitar cita
    </button>

  </div>

</div>